#pokemonModal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  padding: 2rem;
}

#modalContent {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  max-width: 550px;
  padding: 1rem;
  position:relative;
  overflow-y: auto;
  max-height: 90vh;
  color: #222;
}

#closeModal {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s ease;
}

#closeModal:hover {
  color: #000;
}

.modal-card {
  text-align: center;
}

.modal-header h2 {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.type-label {
  margin-bottom: 1rem;
}

.type-label .type {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  background-color: #eee;
  font-weight: 700;
  font-size: 0.9rem;
  color: #555;
  text-transform: capitalize;
}

.modal-img {
  max-width: 220px;
  margin: 1rem auto;
  display: block;
}

.modal-info {
  text-align: center;
  margin-top: 1rem;
  margin: 16px 1px 1px 1px;
}

.modal-info p {
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.stats {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.stats li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}
